/* ProfilePicture default style */

.profile-picture-wrapper {
  background-color: transparent;
  width: 128px;
  height: 128px;
}

.profile-picture-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--p-color);
}