@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {

  --bg-color: #EEE;
  --p-color: #3399ff;

  --light-text: #FFF;
  --dark-text: #222;

  --default-shadow: 0 1px 5px 0.5px gray; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  padding: 20px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}